{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forum List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.name }}</td>
                <td>
                    <a href="{{ path('forum_show', {'id': forum.id}) }}">Show</a>
                    <a href="{{ path('forum_edit', {'id': forum.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forum_new') }}">Create a new forum</a>
{% endblock %}